<header>
	<nav class="main">
		<ul id="nav-ul"></ul>
	</nav>
	<script>
		PAGE_NAMES.forEach(name => {
			const PATH = getPath(name);
			var liHTML = `<li><a href="${PATH}">${name}</a></li>`;
			if (window.location.pathname == PATH)
				liHTML = liHTML.replace('<li>', '<li class=\"active\">');
			document.getElementById('nav-ul').innerHTML += liHTML;
		});
	</script>
</header>