<header>
	<nav class="main">
		<ul id="nav-ul"></ul>
	</nav>
	<script>
		PAGES.forEach(({ name, path }) => {
			var liHTML = `<li><a href="${path}">${name}</a></li>`;
			if (window.location.pathname == path)
				liHTML = liHTML.replace('<li>', '<li class=\"active\">');
			document.getElementById('nav-ul').innerHTML += liHTML;
		});
	</script>
</header>