:root {
	--primary: #fa5555;
	--secondary: #f5f5f5;
	--background: #fbfbfb;
	--text: black;
	--light-text: #555555;
	--placeholder: #e0e0e0;
	--border: #aaa;
	--button-height: 28px;
}
* {
	font-family: "Roboto", sans-serif;
}

body {
	margin: 0;
}

ul {
	margin: 0px;
	padding-left: 25px;
}

nav.main ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 100%;
	background-color: #e9e9e9;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}
nav.main ul li a {
	text-decoration: none;
	height: var(--button-height);
	color: var(--light-text);
	display: flex;
	float: left;
	padding: 0 0.2em;
	margin: 0.2em;
	line-height: var(--button-height);
	text-align: center;
}
nav.main ul li a:hover {
	background-color: var(--secondary);
	color: black;
}
nav.main ul li.active a {
	background-color: white;
	color: black;
	cursor: pointer;
}

.banner {
	padding: 0.5em;
	border-radius: 0.5em;
	margin-bottom: 0.5em;
}
.banner > * {
	color: inherit;
	margin: 0px;
}
.red {
	background-color: var(--primary);
	color: white;
}
.gray {
	background-color: #e9e9e9;
}

button {
	border: 1px solid var(--border);
	outline: none;
	cursor: pointer;
}

button.smooth {
	border-radius: 4px;
	background-color: white;
	color: var(--light-text);
	font-size: 1em;
	padding: 0 0.4em;
	height: var(--button-height);
}
button.smooth:hover {
	background-color: #efefef;
}
button.smooth:disabled {
	background-color: var(--placeholder);
}
button.smooth:disabled:hover {
	cursor: not-allowed;
}

button.special {
	background-color: dodgerblue;
	color: white;
}
button.special:hover {
	background-color: #0e80ef;
}

button.square {
	width: 24px;
	height: 24px;
	vertical-align: middle;
	border-radius: 2px;
}
button.square:hover {
	filter: brightness(80%);
}
button.remove-point {
	background: url("/images/buttons/remove-button.svg") center;
}
button.add-point {
	background: url("/images/buttons/add-button.svg") center;
}

h1 {
	font-weight: normal;
	margin-top: 0;
}

a {
	text-decoration: underline;
	color: var(--light-text);
}
a:hover {
	color: var(--primary);
}

code {
	font-family: monospace;
	color: #040404;
	background-color: #f2f2f2;
	border-radius: 2px;
	padding: 1px 3px;
}

/* Search bar adapted from https://www.w3schools.com/howto/howto_js_autocomplete.asp */
.autocomplete {
	position: relative;
	display: inline-block;
}
input[type = text] {
	height: 20px;
	border: 1px solid var(--border);
	border-radius: 2px;
}
input[type = submit] {
	background-color: DodgerBlue;
	color: #fff;
	cursor: pointer;
}
.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	top: 100%;
	left: 2px;
	right: 2px;
	font-size: 11px;
}
.autocomplete-items div {
	padding: 4px;
	cursor: pointer;
	background-color: #fff; 
	border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
	background-color: #e9e9e9; 
}
.autocomplete-active {
	background-color: #5897fb !important;
	color: white;
}
/* End of adapted code */
.section-text {
	color: gray;
}
.autocomplete-active > * {
	color: white;
}
textarea {
	border: 1px solid var(--border);
	border-radius: 2px;
	margin: 5px 0 5px 0;
}
.point-input {
	width: 100%;
}

h1 a {
	text-decoration: none;
	font-weight: 200;
}
h1 a:hover {
	text-decoration: none;
	color: white;
}

section {
	display: block;
}
section.main {
	padding: 2em;
	border-radius: 0 0 0.5em 0.5em;
	background-color: white;
}
section.main::after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
}

div.left {
	float: left;
	width: 48%;
}
div.right {
	float: right;
	width: 48%;
}
div.button-row {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
div.button-row > * {
	margin-right: 0.2em;
	height: var(--button-height);
	vertical-align: top;
}

hr {
	border: none;
	border-top: solid 1px var(--border);
}

table {
	border-collapse: collapse;
}
th {
	background-color: #e9e9e9;
}
th, td {
	margin: 0px;
	padding: 3px;
	border: solid 1px black;
	position: relative;
}
table#points td {
	border: none;
}

img#map {
	width: 1000px;
}
#p5_loading {
	display: none;
}

.wordmark {
	padding: 0 !important;
	aspect-ratio: 793/200;
	height: var(--button-height);
	background-image: url("./images/wordmark.svg");
	background-size: cover;
	border: none;
}
