<!DOCTYPE html>
<html>
	<head>
		<%-include("../partials/header.ejs")%>
	</head>
	<body>
		<%-include("../partials/menu.ejs")%>
		<section class="main">
			<div>
				<h1>About</h1>

				<p>Blairpath is a web application that provides maps and route calculation for the campus of Montgomery Blair High School.</p>

				<div class="banner red">
					<p><b>Disclaimer:</b> Blairpath is a hobby project. It is not officially associated with Blair.</p>
				</div>

				<section style="display: table; width: 100%">
					<div class="left">
						<h3>Team</h3>
						<ul>
							<li>I (<a href="https://github.com/spiralsim"><b>Jeffrey Tong</b></a>, Blair Class of 2022) conceived and developed Blairpath.</li>
							<li>My classmate (<a href="https://github.com/GeneralPoxter">Jason Liu</a>, Blair Class of 2022) designed the 4th floor.</li>
						</ul>
					</div>
					<div class="right">
						<h3>Statistics</h3>
						<ul>
							<li><b><%-Object.keys(data.places).length%></b> vertices (classrooms, offices, courtyards, etc.)</li>
							<li><b><%-data.edges.length%></b> edges (hallways, stairwells, and elevators)</li>
						</ul>
					</div>
				</section>

				<h3>History</h3>
				<p><b>1998</b>: Construction of the present-day Blair campus was completed by SHW Group, Inc. Architects + Engineers (the company that designed the architecture). SHW Group wrote about their design <a href="https://web.archive.org/web/20200222231349/http://www.designshare.com/HighSchoolLibrary/HSBlair/Blair2_Prog.htm">here</a>, including design considerations, metrics, and materials. They also shared their floor plans, which I would later base Blairpath's maps on: <a href="https://web.archive.org/web/20120205151339im_/http://www.designshare.com/HighSchoolLibrary/HSBlair/BlairSite.jpg">Site</a>, <a href="https://web.archive.org/web/20160505145914im_/http://www.designshare.com/HighSchoolLibrary/HSBlair/blairpl1.jpg">Floor 1</a>, <a href="https://web.archive.org/web/20160505225805im_/http://www.designshare.com/HighSchoolLibrary/HSBlair/blairpl2.gif">Floor 2</a>, <a href="https://web.archive.org/web/20120205151407im_/http://www.designshare.com/HighSchoolLibrary/HSBlair/blairpl3.gif">Floor 3</a>.</p>
				<p><b>2019</b>: As a project for Blair's ADSB course, I conceived and developed Blairpath. I was heavily inspired by <a href="https://blairbash.org">Blairbash</a> and the website first went live at <a href="https://replit.com">Replit</a>.</p>
				<p><b>2021</b>: I purchased the domain blairpath.org and started hosting Blairpath there using Heroku.</li>
				<p><b>2022</b>: Blair teacher Mr. Schwartz showed his 9th grade students Blairpath to help them get around.</p>
				<p><b>2025</b>: I redesigned Blairpath to make its UI/UX much more intuitive to outsiders.</p>

				<h3>Technical</h3>
				<p>Blairpath is open-source on GitHub at <a href="https://github.com/spiralsim/blairpath">spiralsim / <b>blairpath</b></a>.</p>
			</div>
		</section>
	</body>
</html>