<!DOCTYPE html>
<html>
	<head>
		<%-include("../partials/header.ejs")%>
	</head>
	<body>
		<%-include("../partials/menu.ejs")%>
		<section class="main">
			<div>
				<h1>About</h1>

				<h3>Instructions</h3>
				<p>BlairPath is a project that allows you to find the shortest route between any sequence of academic classrooms in Montgomery Blair High School (including portables) and most other major rooms, such as the SAC and auditorium. You can select rooms either by searching for them in the Points table or selecting them on the interactive map. Then, add or remove points to form a route and press "Calculate Route".</p>
				<p>(A full instructions guide will likely be added in a future version.)</p>

				<h3>History</h3>
				<p>Blairpath was started on October 21, 2019 by Jeffrey Tong as an Open Project for the ADSB course. It was created in <a href="repl.it">Repl.it</a>.</p>
				<p>The Alpha version was released on December 16, 2019 for the Alpha Presentation.</p>
				<p>The first Release version was released on January 20, 2020.</p>
				<p>It is still in active development.</p>

				<h3>Credits</h3>
				<p>I would like to thank the following people for their work on this project. For people with an attached address, you can email them by clicking on their names.</p>
				<ul>
					<li><b><a href="mailto:jeffrey.w.tong@gmail.com">Jeffrey Tong</a>:</b> Everything not mentioned below</li>
					<li><b>Jason Liu:</b> Providing the design for the fourth floor</li>
					<li><b>Aaron Chyatte (Fox), Clarence Lam:</b> Debugging styling</li>
				</ul>
				<p>And of course...</p>
				<ul>
					<li><b>Will Shepherdson, Kevin Higgs, and William Wang:</b> Creating <a href="blairbash.org">Blairbash</a>, one of the main inspirations for this project!</li>
				</ul>

				<h3>Contributing</h3>
				<p>Being <a href="https://en.wikipedia.org/wiki/Montgomery_Blair_High_School">the most populous school in the state of Maryland</a>, mapping out the entire school is a large task. Contributions of any new information, including measurements, labels, and categorizations, are welcome.</p>
				<p>(I would like to create a formal contribution system in the near future, but I want to first make sure there is enough community interest before doing so. If you are interested in contributing, please email me.)</p>
				<p>You can contribute by emailing one of the contacts provided above.</p>
			</div>
		</section>
	</body>
</html>