<!DOCTYPE html>
<html>
	<head>
		<%-include("../partials/header.ejs")%>
	</head>
	<body>
		<%-include("../partials/menu.ejs")%>
		<section class="main">
			<div>
				<h1>About</h1>

				<h3>History</h3>
				<p>Blairpath was started on October 21, 2019 by Jeffrey Tong, then a Blair sophomore, as an open project for the Magnet program's Algorithms and Data Structures B (ADSB) course. Initially created with <a href="https://replit.com">Replit</a>, it drew inspiration from <a href="https://blairbash.org">Blairbash</a>.</p>
				<p>He finished the Alpha version (v0.12.2) on December 16, 2019 and the first Release version (v1.0.0) on January 20, 2020.</p>
				<p>A long development hiatus began after the first semester of the 2019–2020 school year.</p>
				<p>He restarted substantive work in February 2021 as a junior for the Future of Programming (FoP) course's open project.</p>
				<p>On March 28, 2021 (for v1.4.0), he released Blairpath to GitHub, thereby making it an open-source project.</p>
				<p>On April 8, 2021 (for v1.5.0), he began hosting Blairpath at its own domain, <a href="/">blairpath.org</a>, through <a href="https://heroku.com">Heroku</a> and <a href="https://domains.google/">Google Domains</a>. The site's original location, <a href="https://blairpath.jeffreytong.repl.co/">blairpath.jeffreytong.repl.co</a>, will remain available but henceforth hold a notice redirecting visitors to the new domain.</p>

				<h3>Credits</h3>
				<p>The following people have made notable contributions to Blairpath.</p>
				<ul>
					<li><b>Jeffrey Tong ('22)</b> created Blairpath and continues to maintain it.</li>
					<li><b>Jason Liu ('22)</b> created the design for the fourth floor.</li>
					<li><b>Aaron "Fox" Chyatte ('22)</b> and <b>Clarence Lam ('22)</b> provided suggestions and technical advice for styling.</li>
					<li><b>Kevin Higgs ('21)</b> and <b>William Wang ('20)</b> created the modern Blairbash site design, upon which Blairpath's design is modeled.</li>
				</ul>

				<h3>Contributing</h3>
				<p>Being <a href="https://en.wikipedia.org/wiki/Montgomery_Blair_High_School">the most populous school in the state of Maryland</a>, mapping out the entire school is a large task. Contributions of any kind, including new maps, measurements, labels, or categorizations, as well as contributions to the source code, are welcome.</p>
				<p>Blairpath is open-source <a href="https://github.com/jt4517/blairpath">on GitHub</a>.</p>
				<p>To learn how to make cartographic contributions through the website's editing system, read the <a href="/tutorial">tutorial</a>.</p>
			</div>
		</section>
	</body>
</html>