<!DOCTYPE html>
<html>
	<head>
		<%-include("../partials/header.ejs")%>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	</head>
	<body>
		<%-include("../partials/menu.ejs")%>
		<section class="main">
			<div>
				<h1>Changelog</h1>
				<div class="banner gray">
					<p style="text-align: left">
						<b>Apr 16, 2021</b>
						<span style="float: right">Jeffrey Tong</span>
					</p>
					<i>v1.5.0 release notes</i>
					<p>Blairpath now has its own official domain, <a href="blairpath.org">blairpath.org</a>.</p>
				</div>
				<div class="banner gray">
					<p style="text-align: left">
						<b>Mar 28, 2021</b>
						<span style="float: right">Jeffrey Tong</span>
					</p>
					<i>v1.4.0 release notes</i>
					<p>Blairpath's source is now published on GitHub.</p>
				</div>
				<div class="banner gray">
					<p style="text-align: left">
						<b>Mar 28, 2021</b>
						<span style="float: right">Jeffrey Tong</span>
					</p>
					<i>v1.3.0 release notes</i>
					<p>The website has been migrated to Heroku and will soon be hosted on a standalone domain.</p>
				</div>
				<div class="banner gray">
					<p style="text-align: left">
						<b>Jan 20, 2020</b>
						<span style="float: right">Jeffrey Tong</span>
					</p>
					<i>v1.0.0 release notes</i>
					<p>Blairpath has now entered the Release phase! Pathfinding has been implemented and all major features for this version should now be fully functional.</p>
				</div>
			</div>
		</section>
	</body>
</html>