<!DOCTYPE html>
<html>
	<head>
		<%-include("../partials/header.ejs")%>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	</head>
	<body>
		<%-include("../partials/menu.ejs")%>
		<section class="main">
			<div>
				<h1>Changelog</h1>

				<p>Major release <select id="selectRelease" style="margin-left: 10px"></select></p>
				<table id="versionsTable"></table>
				
				<script>
					const selector = document.getElementById("selectRelease");
					$.getJSON("/json/versions.json", function (data) {
						const versions = Object.keys(data);
						
						// Add options to selector
						versions.forEach(v => {
							var newOption = document.createElement("option");
							newOption.innerHTML = v;
							newOption.setAttribute("value", v);
							selector.appendChild(newOption);
						});

						// Listen for selector changes
						const generateTable = function () {
							var output = "<tr> <th>Version</th> <th>Date</th> <th>Changes</th> </tr>"
							data[selector.value].forEach(row => {
								function generateChangeHTML (changes) {
									if (typeof changes == "object") return '<ul>' + changes.map(c => '<li>' + generateChangeHTML(c) + '</li>').join('').replace(/<\/li><li><ul>/g, '<ul>') + '</ul>';
									else return changes;
								}
								output += `<tr> <td>${row.version}</td> <td>${row.date}</td> <td>${generateChangeHTML(row.changes)}</td>`;
							});
							document.getElementById("versionsTable").innerHTML = output;
						};
						generateTable();
						selector.addEventListener("change", generateTable);
					});
				</script>
			</div>
		</section>
	</body>
</html>