<!DOCTYPE html>
<html>
	<head>
		<%-include("../partials/header.ejs")%>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.4/p5.min.js"></script>
		<script src="/scripts/constants.js"></script>
		<script src="/scripts/dijkstra.js"></script>
		<script src="/scripts/map-main.js" defer></script>
		<script src="/scripts/map-sketch.js" defer></script>
	</head>
	<body>
		<%-include("../partials/menu.ejs")%>
		<section class="main" style="width: 300px">
			<div class="scrollable">
				<div>
					<div class="banner gray">
						<p>Map updated <%-diskData.timestamp.split(' ').slice(2, 4).join(' ')%></p>
					</div>
					

					<table id="points">
						<tr id="place-placeholder-1">
							<td><button class="square close"></button></td>
							<td><input type="text" value="" class="point-input" style="background-color: var(--placeholder)" disabled></input></td>
						</tr>
						<tr id="place-placeholder-2">
							<td><button class="square close"></button></td>
							<td><input type="text" value="" class="point-input" style="background-color: var(--placeholder)" disabled></input></td>
						</tr>
						<tr id="last">
							<td><button class="square add" onclick="addPlaceInput()"></button></td>
							<td style="width: 406px"></td>
						</tr>
					</table>
		
					<p style="margin: 0">
						<input type="checkbox" id="allow-elevator">
						<span style="margin: 0">Allow elevator (requires nurse pass)</span>
					</p>
					<p style="margin: 0; margin-top: 4px">
						<span for="speed" style="font-size: 16px">Walking speed:</span>
						<input type="number" min="0.2" max="4" step="0.1" id="speed">
						<span for="speed" style="font-size: 16px">m/s</span>
					</p>
					<script>
						document.getElementById("speed").setAttribute("value", CONSTANTS.DEFAULT_WALKING_SPEED_IN_M_PER_S);
					</script>
				</div>

				<hr>

				<div id="calc-result"></div>
			</div>
		</section>
		<div style="position: absolute; left: 330px; right: 0; top: 0; bottom: 0; overflow: hidden" id="canvas" oncontextmenu="return false;">
			<div id="map-placeholder" style="background-color: var(--placeholder)"></div>
			<div id="map-controls" style="position: absolute; right: var(--map-controls-padding); bottom: 20px">
				<button class="square add white" onclick="VIEW.zoomIn()" style="position: absolute; right: 0; bottom: 74px; border-radius: var(--button-corner) var(--button-corner) 0 0; border-bottom: 0"></button>
				<button class="square remove white" onclick="VIEW.zoomOut()" style="position: absolute; right: 0; bottom: 50px; border-radius: 0 0 var(--button-corner) var(--button-corner)"></button>
				<div style="position: absolute; right: var(--map-controls-right); padding-right: var(--map-controls-padding); bottom: 22px; display: flex;">
					<label for="floor">Floor</label>
					<input type="number" min="1" max="4" value="1" id="floor" onchange="VIEW.setFloor(parseInt(this.value))" style="width: 10px; text-align: center">
					<script>
						const FLOOR_INPUT = document.getElementById('floor');
					</script>
					<button class="square downward white" onclick="VIEW.adjustFloor(-1)" style="padding: 0"></button>
					<button class="square upward white" onclick="VIEW.adjustFloor(1)" style="padding: 0"></button>
				</div>
				<div style="position: absolute; right: var(--map-controls-right); padding-right: var(--map-controls-padding); bottom: 0; display: flex;">
					<input type="checkbox" id="show-site-plan">
					<label for="show-site-plan">Site Plan</label>
					<input type="checkbox" id="show-floor-plan" checked>
					<label for="show-floor-plan">Floor Plan</label>
					<input type="checkbox" id="show-labels" checked>
					<label for="show-labels">Labels</label>
				</div>
			</div>
		</div>
	</body>
</html>