<!DOCTYPE html>
<html>
	<head>
		<%-include("../partials/header.ejs")%>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/p5.js"></script>
		<script src="/scripts/map-main.js" defer></script>
		<script src="/scripts/map-sketch.js"></script>
	</head>
	<body>
		<%-include("../partials/menu.ejs")%>
		<section class="main">
			<div class="left" style="width: calc(100% - 600px - 2%); overflow: hidden">
				<h1>Map</h1>
				
				<div class="banner gray" style="margin-bottom: 20px">
					<b>⚠️ 2020–2021 portables not updated</b>
					<p>Blair significantly updated the portables during the virtual year (2020–2021), with walkways on the eastern side rearranged and a new portable section on the western side. I haven't updated the map for this yet, so be careful with portables.</p>
					<p>(In the meantime, I'd appreciate any help with gathering map data.)</p>
					<p>~Jeffrey</p>
				</div>

				<p>Select any sequence of rooms and press "Calculate Route" to find the shortest route.</p>
				<p>For more detailed instructions, see the About tab.</p>

				<table id="points">
					<tr id="row-placeholder-1">
						<td>1</td>
						<td><input type="text" value="" class="point-input" style="background-color: var(--placeholder)" disabled></input></td>
						<td><button class="square remove-point"></button></td>
					</tr>
					<tr id="row-placeholder-2">
						<td>2</td>
						<td><input type="text" value="" class="point-input" style="background-color: var(--placeholder)" disabled></input></td>
						<td><button class="square remove-point"></button></td>
					</tr>
					<tr id="last">
						<td style="width: 9px"></td>
						<td style="width: 406px"></td>
						<td><button class="square add-point" onclick="addPoint()"></button></td>
					</tr>
				</table>

				<p style="margin-bottom: 0"><b>Options</b></p>
				<p style="margin: 0"><input type="checkbox" id="allow-elevator"> Allow the path to use the elevator</p>
				
				<button id="calc-button" class="smooth" onclick="calculate()">Calculate Route</button>
				<button id="clear-button" class="smooth" onclick="clearCalc()">Clear</button>

				<div id="dev-div" style="border: 1px solid; padding: 5px; margin-top: 5px" hidden>
					<!-- Calling this "roomData" causes errors with p5.js for some reason -->
					<b>Developer Output Window</b>
					<br>
					<p style="margin: 0">If you are contributing a room object, please add your name to the <code>authors</code> attribute if it is not already there.</p>

					<textarea id="dev-textarea" rows="12" style="font-family: 'Source Code Pro'; width: calc(100% - 3px * 2)"></textarea>
					<p style="margin: 0">Contributor token: <input type="text" id="token-field" style="width: 300px"/></p>
					<button class="smooth" onclick="copyData()">Copy to Clipboard</button>
					<button class="smooth" onclick="alert('Data received')">Submit Data</button>
					<button class="smooth" onclick="document.getElementById('dev-div').setAttribute('hidden', true)">Close</button>

					<script>
						function copyData () {
							const devTextarea = document.querySelector("#dev-textarea");
							devTextarea.focus();
							devTextarea.select();

							document.execCommand("copy");
						}
					</script>
				</div>

				<hr>

				<div id="calc-result"></div>
			</div>

			<div class="right" style="width: 600px; height: 600px" oncontextmenu="return false;">
				<div id="processing-canvas">
					<div id="map-placeholder" style="width: 600px; height: 600px; background-color: var(--placeholder)"></div>
				</div>
			</div>
		</section>
	</body>
</html>