<!DOCTYPE html>
<html>
	<head>
		<%-include("../partials/header.ejs")%>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.4/p5.min.js"></script>
		<script src="/scripts/dijkstra.js" defer></script>
		<script src="/scripts/map-main.js" defer></script>
		<script src="/scripts/map-sketch.js" defer></script>
	</head>
	<body>
		<%-include("../partials/menu.ejs")%>
		<section class="main" style="width: 300px">
			<div class="scrollable">
				<div>
					<div class="banner gray">
						<p>Map last updated April 2026</p>
					</div>
					
					<table id="points">
						<tr id="place-placeholder-1">
							<td><button class="square remove-point"></button></td>
							<td><input type="text" value="" class="point-input" style="background-color: var(--placeholder)" disabled></input></td>
						</tr>
						<tr id="place-placeholder-2">
							<td><button class="square remove-point"></button></td>
							<td><input type="text" value="" class="point-input" style="background-color: var(--placeholder)" disabled></input></td>
						</tr>
						<tr id="last">
							<td><button class="square add-point" onclick="addPoint()"></button></td>
							<td style="width: 406px"></td>
						</tr>
					</table>
		
					<p style="margin-bottom: 0"><b>Options</b></p>
					<p style="margin: 0"><input type="checkbox" id="allow-elevator"> Allow use of elevator*</p>
					<p>* Requires pass from nurse</p>
				</div>

				<hr>

				<div id="calc-result"></div>

				<div id="outputDiv" style="border: 1px solid; padding: 5px; margin-top: 5px" hidden>
					<b>Vertices</b>
					<br>
					<ol style="margin: 0; margin-left: -15px">
						<li>Press <code>P</code> to add a new path vertex at the cursor.</li>
						<li>Press <code>B</code> to add a new border vertex at the cursor.</li>
						<li>Press <code>S</code> to switch between path and border vertex types.</li>
					</ol>

					<b>All Types</b>
					<br>
					<ol style="margin: 0; margin-left: -15px">
						<li>Click a vertex (circle for path, square for border) or edge to activate it.</li>
						<li>Click an active object again to deactivate it.</li>
						<li>Press <code>D</code> to delete.</li>
					</ol>
					
					<b>Saving</b>
					<br>
					<ol style="margin: 0; margin-left: -15px">
						<li>Copy the data below to <code>/assets/data.json</code> in Blairpath's package.</li>
					</ol>

					<button onclick="copyNextDiskData()">Copy to Clipboard</button>
				</div>
			</div>
		</section>
		<div style="position: absolute; left: 330px; right: 0; top: 0; bottom: 0; overflow: hidden" id="canvas" oncontextmenu="return false;">
			<div id="map-placeholder" style="background-color: var(--placeholder)"></div>
			<div id="map-controls" style="position: absolute; right: var(--map-controls-padding); bottom: 20px">
				<button class="white" onclick="VIEW.applyZoom(1.2)" style="position: absolute; right: 0; bottom: 76px; border-radius: var(--button-corner) var(--button-corner) 0 0; border-bottom: 0">➕</button>
				<button class="white" onclick="VIEW.applyZoom(0.8)" style="position: absolute; right: 0; bottom: 48px; border-radius: 0 0 var(--button-corner) var(--button-corner)">➖</button>
				<div style="position: absolute; right: var(--map-controls-right); padding-right: var(--map-controls-padding); bottom: 20px; display: flex;">
					<label for="floor">Floor</label>
					<input type="number" min="1" max="4" value="1" id="floor" onchange="setFloor(parseInt(this.value))">
					<script>
						const FLOOR_INPUT = document.getElementById('floor');
						function setFloor(newFloor) {
							if (Number.isNaN(newFloor) || newFloor < 1 || newFloor > 4) return;
							FLOOR_INPUT.value = String(newFloor);
							VIEW.floor = newFloor;
						}
						function adjustFloor(delta) {
							setFloor(parseInt(FLOOR_INPUT.value) + delta);
						}
					</script>
					<button class="square" onclick="adjustFloor(-1)" style="padding: 0">⬇</button>
					<button class="square" onclick="adjustFloor(1)" style="padding: 0">⬆</button>
				</div>
				<div style="position: absolute; right: var(--map-controls-right); padding-right: var(--map-controls-padding); bottom: 0; display: flex;">
					<input type="checkbox" id="show-site-plan">
					<label for="show-site-plan">Site Plan (1998)</label>
					<input type="checkbox" id="show-floor-plan" checked>
					<label for="show-floor-plan">Floor Plan</label>
					<input type="checkbox" id="show-labels" checked>
					<label for="show-labels">Labels</label>
				</div>
			</div>
		</div>
	</body>
</html>