<!DOCTYPE html>
<html>
	<head>
		<%-include("../partials/header.ejs")%>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.4/p5.min.js"></script>
		<script src="/scripts/dijkstra.js" defer></script>
		<script src="/scripts/map-main.js" defer></script>
		<script src="/scripts/map-sketch.js" defer></script>
	</head>
	<body>
		<%-include("../partials/menu.ejs")%>
		<section class="main">
			<div style="width: 300px; overflow: auto; background-color: rgba(255, 255, 255, 0.9);">
				<table id="points">
					<tr id="row-placeholder-1">
						<td>1</td>
						<td><input type="text" value="" class="point-input" style="background-color: var(--placeholder)" disabled></input></td>
						<td><button class="square remove-point"></button></td>
					</tr>
					<tr id="row-placeholder-2">
						<td>2</td>
						<td><input type="text" value="" class="point-input" style="background-color: var(--placeholder)" disabled></input></td>
						<td><button class="square remove-point"></button></td>
					</tr>
					<tr id="last">
						<td style="width: 9px"></td>
						<td style="width: 406px"></td>
						<td><button class="square add-point" onclick="addPoint()"></button></td>
					</tr>
				</table>
	
				<p style="margin-bottom: 0"><b>Options</b></p>
				<p style="margin: 0"><input type="checkbox" id="allow-elevator"> Allow use of elevator*</p>
				<p>* Requires pass from nurse</p>
				
				<div class="button-row">
					<button id="calc-button" class="smooth" onclick="calculate()" disabled>Find Path</button>
					<button id="clear-button" class="smooth" onclick="clearCalc()">Clear</button>
				</div>
	
				<hr>
	
				<div id="calc-result"></div>

				<div id="outputDiv" style="border: 1px solid; padding: 5px; margin-top: 5px" hidden>
					<b>Adding Portables (for developers only)</b>
					<br>
					<ol style="margin: 0; margin-left: -15px">
						<li>Press <code>P</code> to add a portable object (you will adjust it in the following steps.)</li>
						<li>Move the cursor to move the center.</li>
						<li>Press <code>[</code> or <code>]</code> to rotate counterclockwise or clockwise.</li>
						<li>Click to place.</li>
						<li>Copy the data below to <code>/assets/data.json</code> in Blairpath's package.</li>
					</ol>

					<textarea id="outputField" rows="8" cols="30" style="font-family: Roboto Mono"></textarea>
					<button onclick="copyData()">Copy to Clipboard</button>

					<script>
						function copyData () {
							var copyTextarea = document.querySelector("#outputField");
							copyTextarea.focus();
							copyTextarea.select();

							document.execCommand("copy");
						}
					</script>
				</div>
			</div>
			<div style="position: absolute; left: 330px; right: 0; top: 0; bottom: 0; overflow: hidden" id="canvas" oncontextmenu="return false;">
				<div id="map-placeholder" style="background-color: var(--placeholder)"></div>
				<div id="map-controls" style="position: absolute; left: 0; bottom: 0; padding: 1em; background-color: rgba(255, 255, 255, 0.9)">
					<div style="margin-bottom: 4px">
						<button class="smooth" onclick="VIEW.applyZoom(1.2)">➕</button>
						<button class="smooth" onclick="VIEW.applyZoom(0.8)">➖</button>
						<button class="smooth" onclick="VIEW.reset()">Reset View</button>
						<span>Map data last updated Jan 04, 2020</span>
					</div>
					<div>
						<label for="floor">Floor</label>
						<input type="number" min="1" max="4" value="1" id="floor" onchange="setFloor(parseInt(this.value))">
						<script>
							function setFloor(newFloor) {
								if (Number.isNaN(newFloor) || newFloor < 1 || newFloor > 4) return;
								VIEW.floor = newFloor;
							}
						</script>
					</div>
					<div>
						<input type="checkbox" id="show-site-plan">
						<label for="show-site-plan">Site Plan (1998)</label>
						<input type="checkbox" id="show-floor-plan" checked>
						<label for="show-floor-plan">Floor Plan</label>
						<input type="checkbox" id="show-dev-tools">
						<label for="show-dev-tools">Dev Tools</label>
						<input type="checkbox" id="show-names" checked>
						<label for="show-names">Names</label>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>