<!DOCTYPE html>
<html>
	<head>
		<%-include("../partials/header.ejs")%>
	</head>
	<body>
		<%-include("../partials/menu.ejs")%>
		<section class="main">
			<div class="scrollable">
				<h1>Tutorial</h1>
				
				<h3>General</h3>
				<p>Overall, Blairpath's map interface is designed similarly to Google Maps, Apple Maps, and OpenStreetMap.</p>

				<p>Because Blairpath covers multiple floors, the <b>up/down keys are used to change the floor</b>. Use the mouse or <code>WASD</code> to move the map.</p>

				<h3>Special Place Names</h3>
				<p>Two types of places have special naming patterns:</p>
				<ol>
					<li>
						Portables are named <code>P[number]</code>.
						<ul>
							<li>Example: <code>P6</code> is Portable 6.</li>
						</ul>
					</li>
					<li>
						Bathrooms are named <code>[gender]s' Bathroom [floor][side]</code>.
						<ul>
							<li><b>Example 1:</b> <code>Boys' Bathroom 2L</code> is the boys' bathroom on the left side of Floor 2.</li>
							<li><b>Example 2:</b> <code>Girls' Bathroom 3R</code> is the girls' bathroom on the right side of Floor 3.</li>
						</ul>
					</li>
				</ol>
				
				<h3>For Contributors</h3>
				<p>If you want to contribute to Blairpath's map (which is appreciated!), you'll need to use the Blairpath developer tools (you do <b>not</b> need to write code.) <a href="/devtutorial">This page</a> is a tutorial for them.</p>
			</div>
		</section>
	</body>
</html>